<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/Header.css">
    <link rel="stylesheet" href="stylesheets/comparison.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../javascripts/topbt.js"></script>
    <script type="text/javascript" src="../javascripts/comparison.js"></script>
</head>
<body>
  <%
  var l = pp.length;
  %>
      <% include header %>
        <div id="cmp">

        </div>
    <center>
        <div id="myModal" class="modal fade" role="dialog">
           <div class="modal-dialog">
               <div id="mod" class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 id="mod1in" class="modal-title">SEARCH THE PRODUCT TO ADD</h4>
                   </div>
                   <div class="modal-body" id="mod2in">
                       <p><i>Select A Product From Search Suggestions.</i></p>
                       <br>
                       <input id="search1" type="text" placeholder="Search A Product">

                       <div id="exam1" class="ex1">
                           <table id="exc">
                             <!-- <tr><td class="searchPro"><a href="#">Search Product 1</a></td></tr> -->
                           </table>
                       </div>

                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
               </div>
           </div>
 </div>
         <div id="cone">
             <table>
                 <tr id="ctr1">
                     <td colspan="4" id="cc"><center><b>Comapre the laptops upto 4 units</b></center></td>
                     <td><div id="rdiv1"></div><div id="rdiv2" onmouseover="ch(this)" onmouseout="ch1(this)" onclick="gyb()"><b>Remove all</b></div></td>
                 </tr>
                 <tr>
                     <td id='td1'>
                         <div id="cdiv1" class="cdiv"><center><div class="cinside" onmouseover="dark1(this)"
                           onmouseout="light1(this)" data-toggle="modal" data-target="#myModal">Add Another Product</div></center></div>
                     </td>
                     <td id='td2'>
                         <div id="cdiv2" class="cdiv"><center><div class="cinside" onmouseover="dark1(this)" onmouseout="light1(this)" data-toggle="modal" data-target="#myModal">Add Another Product</div></center></div>
                     </td>
                     <td id='td3'>
                         <div id="cdiv3" class="cdiv"><center><div class="cinside" onmouseover="dark1(this)" onmouseout="light1(this)" data-toggle="modal" data-target="#myModal">Add Another Product</div></center></div>
                     </td>
                     <td id='td4'>
                         <div id="cdiv4" class="cdiv"><center><div class="cinside" onmouseover="dark1(this)" onmouseout="light1(this)" data-toggle="modal" data-target="#myModal">Add Anoter Product</div></center></div>
                     </td>
                     <td><div class="cdiv1"><button class="button button4" onmouseover="b1(this)" onmouseout="d1(this)">Compare Now</button></div></td>
                 </tr>
             </table>
         </div>
     </center>

    <div id="sidemid" class="container-fluid mn">
      <% include sidebar.ejs %>
        <div class="side1">
          <div class="sidebarright">
            Laptops
          </div>
          <div id="fill">
          <br>
          <% for(var i=0 ; i<l ; i++)
          {
            var ob = JSON.stringify(pp[i].specifications.full_specs);
            var ob1 = JSON.parse(ob);
            %>
          <div class="product">
            <div class="left_product">
              <center><a href="http://localhost:3000/pro/<%=pp[i].key%>"><img src="<%=pp[i].img%>" alt="no laptop" width="100" height="100"></a></center>
            </div>
            <div class="mid_product">
              <div class="mid_product_up">
                <a href="http://localhost:3000/pro/<%=pp[i].key%>" class="nm"><%=pp[i].name%></a>
              </div>
              <div class="mid_product_down">
                <div class="mid_product_down_up">
                  <div class="mid_product_down_up_left">
                    <b>Product Features:</b>
                  </div>
                  <div class="mid_product_down_up_right">
                    <a href="http://localhost:3000/pro/<%=pp[i].key%>">See Full Specifications</a>
                  </div>
                </div>
                <div style="height:2px"></div>
                <div class="mid_product_down_down">
                  <div class="mid_product_down_down_left">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<%=ob1.Processor.Processor%>
                    <br>
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<%=ob1.Processor.Speed%> Clock Speed
                    <br>
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<%=ob1.Memory.RAM%> RAM
                    <br>
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<%=ob1.Memory['Hard Disk Capacity']%> Hard Disk
                  </div>
                  <div class="mid_product_down_down_right">
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<%
                    if(ob1.Graphics!=undefined)
                    {
                    %>
                    <%= ob1.Graphics.GPU %>
                    <%}else{%>
                      <%= ob1.Battery['Battery Backup'] %> Battery Backup
                  <%}%>
                    <br>
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<%=ob1.Display.Size%>, <%=ob1.Display.Resolution%>
                    <br>
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<%=ob1.General.OS%> OS
                    <br>
                    <i class="fa fa-check" aria-hidden="true"></i>&nbsp;<%=ob1.General.Warranty%>
                  </div>
                </div>
              </div>
            </div>
            <div class="right_product">
              <div class="right_product_up">
                <center><b>Rs. <%=pp[i].price%></b></center>
              </div>
              <div class="right_product_down">
                <center>
                  <button type="button" class="<%=pp[i].key%>" id="comp" name="compare" onclick="openCompare(this)"><i class="fa fa-plus-square" aria-hidden="true">
                    </i>&nbsp;compare
                  </button>
                  <button type="button" class="<%=pp[i].key%>" id="comp1" name="compare" onclick="openCompare1(this)"><i class="fa fa-remove" aria-hidden="true">
                    </i>&nbsp;compare
                  </button>
                </center>
              </div>
            </div>
          </div>
          <div style="height:2px"></div>
          <%}%>
          <center>
          <%
          if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                    <% } else { %>
                        <li><a href="/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li class="active"><a><%= i %></a></li>
                        <% } else { %>
                            <li><a href="/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li class="disabled"><a>Last</a></li>
                    <% } else { %>
                        <li><a href="/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
          </center>
          </div>            </div>
          </div>

          <div id="userPriority">
          <div id="lt">Give Your Priority Here</div>
          <br><br>
          <div id="drp" class="lt1">
            <table>
              <tr class="select1" id="drp1">
                <td class="select11">
                  <select id="select1">
                    <option value="" selected disabled>First priority</option>
                    <option id="op1" value="Processor">Processor</option>
                    <option id="op2" value="RAM">RAM</option>
                    <option id="op3" value="Hard_Disc">Hard Disc</option>
                    <option id="op4" value="Battary">Battary</option>
                    <option id="op5" value="Price">Price</option>
                  </select>
                </td>
                <td class="select12"></td>
                <td class="select13">
                  <button type="button" name="button" class="btnn" id="btnn1">Add</button>
                </td>
              </tr>
              <tr class="select1" id="drp2">
                <td class="select11">
                  <select id="select2">
                    <option value="" selected disabled>Second priority</option>
                    <option id="op11" value="Processor">Processor</option>
                    <option id="op22" value="RAM">RAM</option>
                    <option id="op33" value="Hard_Disc">Hard Disc</option>
                    <option id="op44" value="Battary">Battary</option>
                    <option id="op55" value="Price">Price</option>
                  </select>
                </td>
                <td class="select12"></td>
                <td class="select13">
                  <button type="button" name="button" class="btnn" id="btnn2">Add</button>
                </td>
              </tr>
              <tr class="select1" id="drp3">
                <td class="select11">
                  <select id="select3">
                    <option value="" selected disabled>Third priority</option>
                    <option id="op111" value="Processor">Processor</option>
                    <option id="op222" value="RAM">RAM</option>
                    <option id="op333" value="Hard_Disc">Hard Disc</option>
                    <option id="op444" value="Battary">Battary</option>
                    <option id="op555" value="Price">Price</option>
                  </select>
                </td>
                <td class="select12"></td>
                <td class="select13">
                  <button type="button" name="button" class="btnn" id="btnn3">Add</button>
                </td>
              </tr>
              <tr class="select1" id="drp4">
                <td class="select11">
                  <select id="select4">
                    <option value="" selected disabled>Fourth priority</option>
                    <option id="op1111" value="Processor">Processor</option>
                    <option id="op2222" value="RAM">RAM</option>
                    <option id="op3333" value="Hard_Disc">Hard Disc</option>
                    <option id="op4444" value="Battary">Battary</option>
                    <option id="op5555" value="Price">Price</option>
                  </select>
                </td>
                <td class="select12"></td>
                <td class="select13">
                  <button type="button" name="button" class="btnn" id="btnn4">Add</button>
                </td>
              </tr>
              <tr class="select1" id="drp5">
                <td class="select11">
                  <select id="select5">
                    <option value="" selected disabled>Fifth priority</option>
                    <option id="op11111" value="Processor">Processor</option>
                    <option id="op22222" value="RAM">RAM</option>
                    <option id="op33333" value="Hard_Disc">Hard Disc</option>
                    <option id="op44444" value="Battary">Battary</option>
                    <option id="op55555" value="Price">Price</option>
                  </select>
                </td>
                <td class="select12"></td>
                <td class="select13">
                  <button type="button" name="button" class="btnn" id="btnn5">Add</button>
                </td>
              </tr>
            </table>
          </div>
          <br>
          <button id="nc" type="button" name="button">Now Compare</button>
            </div>

          <div style="height:3px"></div>
          <% include footer %>
          </body>
          </html>
